html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(177, 177, 177);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cardComponent{ 
  width: 800px;
  height: 600px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.none{
  display: none;
}

.loginButton{
  width: 200px;
  height: 60px;
  border-radius: 10px;
  background-color: rgb(128, 172, 255);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 20px;
}

.backButton{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 30, 30);
}